## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [1]:
import pandas as pd
import numpy as np 

#ones 라는 애가 4행4열로 그냥 값 만들어줌 1로
#제로스는  0 으로


df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [3]:
# 결측치 만들기 ( NaN, nan) #일부러 결측치를 만든거다 일단 b열의 1행
df.loc['B',1] = np.NaN
df

#b열의 2열 시작지점부터 끝까지 바꿔주기
df.loc['B':, 2] =np.nan
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [4]:
# 누적합을 구할 때
df.cumsum
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [7]:
#결측치 확인 - 결측치 있으면 True 나옴
print(df.isnull())


#다시 합산을 해보자 2열에 트루가3개 있어서 4개 1열에는1개라 1개 나옴
print(df.isnull().sum())

#근데 낫널이 정확해게볼수있음 트루가 결측치 있는거니까 0열은 결측치가 없는거임
print(df.notnull().sum())

       0      1      2      3
A  False  False  False  False
B  False   True   True  False
C  False  False   True  False
D  False  False   True  False
0    0
1    1
2    3
3    0
dtype: int64
0    4
1    3
2    1
3    4
dtype: int64

In [8]:
#결측치 해결 - 결측치있는 행을 다지워버림 그럼안되징
df.dropna()

     0    1    2    3
A  1.0  1.0  1.0  1.0

In [12]:
#결측치 해결 > 대체방안 !

#지우면 안되니 ,, 결측치 값을 0으로 주는걸로 대체
df.fillna(0)

#출력할때만 쓰지 실질적으로 쓰진 않음
df.fillna('zz')

#평균값으로 대체를 실무에서는 많이한다고함

#여러개 넣기도 가능
    #1번열에는 널 2번 열에는 -1
df.fillna({1:'NULL',2:-1})

     0     1    2    3
A  1.0   1.0  1.0  1.0
B  1.0  NULL -1.0  1.0
C  1.0   1.0 -1.0  1.0
D  1.0   1.0 -1.0  1.0